# Test Notebook

This is markdown text-hooray

In [1]:
import pandas as pd

In [3]:
letters = ['A','B','C']*10

In [6]:
df = pd.DataFrame({'Letters':letters,'Numbers':range(0,30)})

In [7]:
df.head()

  Letters  Numbers
0       A        0
1       B        1
2       C        2
3       A        3
4       B        4

In [8]:
df.groupby('Letters').sum()

         Numbers
Letters
A            135
B            145
C            155